# Python virtualenv
/venv/
.venv/
env/
ENV/
venv.bak/
.direnv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo
